<h2>Informacion</h2>
<p>
    <strong>Autor:</strong> Brayan Alexander Alonzo Quijivix
    <br><br>
    <strong>Registro academico:</strong> 201931078
    <br><br>
    <strong>Descripcion:</strong> <br> Esta es una pagina en donde se exponen los diferentes procesos para el
    cultivo de maiz,
    estos procedimientos han sido pasados de generacion en generacion en mi familia.<br> Por lo tanto son procedimientos
    propios,
    el lugar donde se realiza esta actividad es en Llanos del pinal que es una comunidad cercana al municipio de
    Quetzaltenango.
</p>